EXPO_PUBLIC_MADAR_API_URL=https://www.orbitmadar.com
EXPO_PUBLIC_SUPABASE_URL=https://rybzdpduwgnsjofolini.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_L4P1zdLREZ_9KR3Bew8zkQ_81_h9iyx
